name: hbi
imports:
    - rbac
types:
    host:
        visibility: public
        relations:
            delete:
                visibility: public
                body:
                    kind: relation
                    relation: workspace
                    sub_relation: inventory_host_delete
                extensions:
                    - namespace: rbac
                      name: add_v1_based_permission
                      params:
                        app: inventory
                        resource: hosts
                        v2_perm: inventory_host_delete
                        verb: write
            move:
                visibility: public
                body:
                    kind: relation
                    relation: workspace
                    sub_relation: inventory_host_move
                extensions:
                    - namespace: rbac
                      name: add_v1_based_permission
                      params:
                        app: inventory
                        resource: groups
                        v2_perm: inventory_host_move
                        verb: write
            update:
                visibility: public
                body:
                    kind: relation
                    relation: workspace
                    sub_relation: inventory_host_update
                extensions:
                    - namespace: rbac
                      name: add_v1_based_permission
                      params:
                        app: inventory
                        resource: hosts
                        v2_perm: inventory_host_update
                        verb: write
            view:
                visibility: public
                body:
                    kind: relation
                    relation: workspace
                    sub_relation: inventory_host_view
                extensions:
                    - namespace: rbac
                      name: add_v1_based_permission
                      params:
                        app: inventory
                        resource: hosts
                        v2_perm: inventory_host_view
                        verb: read
            workspace:
                visibility: private
                body:
                    kind: assignable
                    types:
                        - namespace: rbac
                          name: workspace
                    cardinality: ExactlyOne
defined_extensions:
    expose_host_permission:
        visibility: public
        params:
            - v2_perm
            - host_perm
        types:
            host:
                visibility: public
                relations:
                    ${host_perm}:
                        visibility: public
                        body:
                            kind: intersect
                            left:
                                kind: relation
                                relation: view
                            right:
                                kind: relation
                                relation: workspace
                                sub_relation: ${v2_perm}
extension_references:
    - namespace: rbac
      name: add_v1_based_permission
      params:
        app: staleness
        resource: staleness
        v2_perm: staleness_staleness_view
        verb: read
    - namespace: rbac
      name: add_v1_based_permission
      params:
        app: staleness
        resource: staleness
        v2_perm: staleness_staleness_update
        verb: write
