name: rbac
types:
    group:
        visibility: internal
        relations:
            member:
                visibility: public
                body:
                    kind: assignable
                    types:
                        - name: principal
                        - name: group
                          sub_relation: member
                    cardinality: Any
            owner:
                visibility: public
                body:
                    kind: assignable
                    types:
                        - name: tenant
                    cardinality: ExactlyOne
    platform:
        visibility: internal
        relations:
            binding:
                visibility: public
                body:
                    kind: assignable
                    types:
                        - name: role_binding
                    cardinality: Any
    principal:
        visibility: public
        relations: {}
    role:
        visibility: internal
        relations:
            all_all_all:
                visibility: private
                body:
                    kind: assignable
                    types:
                        - namespace: rbac
                          name: principal
                          all: true
                    cardinality: Any
            child:
                visibility: private
                body:
                    kind: assignable
                    types:
                        - name: role
                    cardinality: Any
    role_binding:
        visibility: internal
        relations:
            role:
                visibility: public
                body:
                    kind: assignable
                    types:
                        - name: role
                    cardinality: Any
            subject:
                visibility: public
                body:
                    kind: assignable
                    types:
                        - name: principal
                        - name: group
                          sub_relation: member
                    cardinality: Any
    tenant:
        visibility: internal
        relations:
            binding:
                visibility: public
                body:
                    kind: assignable
                    types:
                        - name: role_binding
                    cardinality: Any
            platform:
                visibility: public
                body:
                    kind: assignable
                    types:
                        - name: platform
                    cardinality: ExactlyOne
    workspace:
        visibility: public
        relations:
            binding:
                visibility: public
                body:
                    kind: assignable
                    types:
                        - name: role_binding
                    cardinality: Any
            create:
                visibility: public
                body:
                    kind: relation
                    relation: rbac_workspace_create
                extensions:
                    - name: add_v1_based_permission
                      params:
                        app: inventory
                        resource: groups
                        v2_perm: rbac_workspace_create
                        verb: write
            delete:
                visibility: public
                body:
                    kind: relation
                    relation: rbac_workspace_delete
                extensions:
                    - name: add_v1_based_permission
                      params:
                        app: inventory
                        resource: groups
                        v2_perm: rbac_workspace_delete
                        verb: write
            edit:
                visibility: public
                body:
                    kind: relation
                    relation: rbac_workspace_edit
                extensions:
                    - name: add_v1_based_permission
                      params:
                        app: inventory
                        resource: groups
                        v2_perm: rbac_workspace_edit
                        verb: write
            move:
                visibility: public
                body:
                    kind: relation
                    relation: rbac_workspace_move
                extensions:
                    - name: add_v1_based_permission
                      params:
                        app: inventory
                        resource: groups
                        v2_perm: rbac_workspace_move
                        verb: write
            parent:
                visibility: public
                body:
                    kind: assignable
                    types:
                        - name: workspace
                        - name: tenant
                    cardinality: ExactlyOne
            role_binding_view:
                visibility: public
                body:
                    kind: relation
                    relation: rbac_workspaces_role_binding_view
                extensions:
                    - name: add_unified_permission
                      params:
                        app: rbac
                        resource: workspaces
                        verb: role_binding_view
            view:
                visibility: public
                body:
                    kind: relation
                    relation: rbac_workspace_view
                extensions:
                    - name: add_v1_based_permission
                      params:
                        app: inventory
                        resource: groups
                        v2_perm: rbac_workspace_view
                        verb: read
defined_extensions:
    add_contingent_permission:
        visibility: public
        params:
            - first
            - second
            - contingent
        types:
            platform:
                visibility: public
                relations:
                    ${contingent}:
                        visibility: public
                        body:
                            kind: intersect
                            left:
                                kind: relation
                                relation: ${first}
                            right:
                                kind: relation
                                relation: ${second}
            tenant:
                visibility: public
                relations:
                    ${contingent}:
                        visibility: public
                        body:
                            kind: intersect
                            left:
                                kind: relation
                                relation: ${first}
                            right:
                                kind: relation
                                relation: ${second}
            workspace:
                visibility: public
                relations:
                    ${contingent}:
                        visibility: public
                        body:
                            kind: intersect
                            left:
                                kind: relation
                                relation: ${first}
                            right:
                                kind: relation
                                relation: ${second}
    add_unified_permission:
        visibility: public
        params:
            - app
            - resource
            - verb
        types:
            platform:
                visibility: public
                relations:
                    ${app}_${resource}_${verb}:
                        visibility: public
                        body:
                            kind: relation
                            relation: binding
                            sub_relation: ${app}_${resource}_${verb}
            role:
                visibility: public
                relations:
                    ${app}_${resource}_${verb}:
                        visibility: public
                        body:
                            kind: union
                            left:
                                kind: union
                                left:
                                    kind: union
                                    left:
                                        kind: union
                                        left:
                                            kind: union
                                            left:
                                                kind: assignable
                                                types:
                                                    - namespace: rbac
                                                      name: principal
                                                      all: true
                                                cardinality: Any
                                            right:
                                                kind: relation
                                                relation: ${app}_${resource}_all
                                        right:
                                            kind: relation
                                            relation: ${app}_all_${verb}
                                    right:
                                        kind: relation
                                        relation: ${app}_all_all
                                right:
                                    kind: relation
                                    relation: all_all_all
                            right:
                                kind: relation
                                relation: child
                                sub_relation: ${app}_${resource}_${verb}
                    ${app}_${resource}_all:
                        visibility: private
                        ignoreduplicates: true
                        body:
                            kind: assignable
                            types:
                                - namespace: rbac
                                  name: principal
                                  all: true
                            cardinality: Any
                    ${app}_all_${verb}:
                        visibility: private
                        ignoreduplicates: true
                        body:
                            kind: assignable
                            types:
                                - namespace: rbac
                                  name: principal
                                  all: true
                            cardinality: Any
                    ${app}_all_all:
                        visibility: private
                        ignoreduplicates: true
                        body:
                            kind: assignable
                            types:
                                - namespace: rbac
                                  name: principal
                                  all: true
                            cardinality: Any
            role_binding:
                visibility: public
                relations:
                    ${app}_${resource}_${verb}:
                        visibility: public
                        body:
                            kind: intersect
                            left:
                                kind: relation
                                relation: subject
                            right:
                                kind: relation
                                relation: role
                                sub_relation: ${app}_${resource}_${verb}
            tenant:
                visibility: public
                relations:
                    ${app}_${resource}_${verb}:
                        visibility: public
                        body:
                            kind: union
                            left:
                                kind: relation
                                relation: binding
                                sub_relation: ${app}_${resource}_${verb}
                            right:
                                kind: relation
                                relation: platform
                                sub_relation: ${app}_${resource}_${verb}
            workspace:
                visibility: public
                relations:
                    ${app}_${resource}_${verb}:
                        visibility: public
                        body:
                            kind: union
                            left:
                                kind: relation
                                relation: binding
                                sub_relation: ${app}_${resource}_${verb}
                            right:
                                kind: relation
                                relation: parent
                                sub_relation: ${app}_${resource}_${verb}
    add_v1only_permission:
        visibility: public
        params:
            - perm
        types:
            role:
                visibility: public
                relations:
                    ${perm}:
                        visibility: private
                        ignoreduplicates: true
                        body:
                            kind: assignable
                            types:
                                - namespace: rbac
                                  name: principal
                                  all: true
                            cardinality: Any
    add_v1_based_permission:
        visibility: public
        params:
            - app
            - resource
            - verb
            - v2_perm
        types:
            platform:
                visibility: public
                relations:
                    ${v2_perm}:
                        visibility: public
                        body:
                            kind: relation
                            relation: binding
                            sub_relation: ${v2_perm}
            role:
                visibility: public
                relations:
                    ${app}_${resource}_${verb}:
                        visibility: private
                        ignoreduplicates: true
                        body:
                            kind: assignable
                            types:
                                - namespace: rbac
                                  name: principal
                                  all: true
                            cardinality: Any
                    ${app}_${resource}_all:
                        visibility: private
                        ignoreduplicates: true
                        body:
                            kind: assignable
                            types:
                                - namespace: rbac
                                  name: principal
                                  all: true
                            cardinality: Any
                    ${app}_all_${verb}:
                        visibility: private
                        ignoreduplicates: true
                        body:
                            kind: assignable
                            types:
                                - namespace: rbac
                                  name: principal
                                  all: true
                            cardinality: Any
                    ${app}_all_all:
                        visibility: private
                        ignoreduplicates: true
                        body:
                            kind: assignable
                            types:
                                - namespace: rbac
                                  name: principal
                                  all: true
                            cardinality: Any
                    ${v2_perm}:
                        visibility: public
                        body:
                            kind: union
                            left:
                                kind: union
                                left:
                                    kind: union
                                    left:
                                        kind: union
                                        left:
                                            kind: union
                                            left:
                                                kind: relation
                                                relation: ${app}_${resource}_${verb}
                                            right:
                                                kind: relation
                                                relation: ${app}_${resource}_all
                                        right:
                                            kind: relation
                                            relation: ${app}_all_${verb}
                                    right:
                                        kind: relation
                                        relation: ${app}_all_all
                                right:
                                    kind: relation
                                    relation: all_all_all
                            right:
                                kind: relation
                                relation: child
                                sub_relation: ${v2_perm}
            role_binding:
                visibility: public
                relations:
                    ${v2_perm}:
                        visibility: public
                        body:
                            kind: intersect
                            left:
                                kind: relation
                                relation: subject
                            right:
                                kind: relation
                                relation: role
                                sub_relation: ${v2_perm}
            tenant:
                visibility: public
                relations:
                    ${v2_perm}:
                        visibility: public
                        body:
                            kind: union
                            left:
                                kind: relation
                                relation: binding
                                sub_relation: ${v2_perm}
                            right:
                                kind: relation
                                relation: platform
                                sub_relation: ${v2_perm}
            workspace:
                visibility: public
                relations:
                    ${v2_perm}:
                        visibility: public
                        body:
                            kind: union
                            left:
                                kind: relation
                                relation: binding
                                sub_relation: ${v2_perm}
                            right:
                                kind: relation
                                relation: parent
                                sub_relation: ${v2_perm}
extension_references:
    - name: add_v1only_permission
      params:
        perm: config_manager_state_changes_read
    - name: add_v1only_permission
      params:
        perm: config_manager_state_read
    - name: add_v1only_permission
      params:
        perm: config_manager_state_write
