*                                 @coderbydesign

configs/permissions/approval.json @gmcculloug @eclarizio @bzwei
configs/roles/approval.json       @gmcculloug @eclarizio @bzwei

configs/permissions/catalog.json  @gmcculloug @eclarizio @mkanoor
configs/roles/catalog.json        @gmcculloug @eclarizio @mkanoor
