kind: Template
apiVersion: v1
objects:
- apiVersion: v1
  data:
    advisor.json: |
      {
          "*": [
              {
                  "verb": "*"
              }
          ],
          "disable-recommendations": [
              {
                  "verb": "write"
              }
          ],
          "weekly-email": [
              {
                  "verb": "read"
              }
          ],
          "recommendation-results": [
              {
                  "verb": "read"
              }
          ],
          "exports": [
              {
                  "verb": "read"
              }
          ]
      }
    approval.json: |
      {
          "actions": [
              {
                  "verb": "create"
              },
              {
                  "verb": "read"
              }
          ],
          "requests": [
              {
                  "verb": "create"
              },
              {
                  "verb": "read"
              }
          ],
          "templates": [
              {
                  "verb": "read"
              }
          ],
          "workflows": [
              {
                  "verb": "create"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "update"
              },
              {
                  "verb": "delete"
              },
              {
                  "verb": "link"
              },
              {
                  "verb": "unlink"
              }
          ]
      }
    automation-analytics.json: |
      {
          "*": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ]
      }
    catalog.json: |
      {
          "approval_requests": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "orders": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "order"
              }
          ],
          "order_items": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "order"
              }
          ],
          "order_processes": [
              {
                  "verb": "create"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "link"
              },
              {
                  "verb": "unlink"
              },
              {
                  "verb": "update"
              },
              {
                  "verb": "delete"
              }
          ],
          "portfolios": [
              {
                  "verb": "create"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "update"
              },
              {
                  "verb": "delete"
              },
              {
                  "verb": "order"
              }
          ],
          "portfolio_items": [
              {
                  "verb": "create"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "update"
              },
              {
                  "verb": "delete"
              },
              {
                  "verb": "order"
              }
          ],
          "progress_messages": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "tenants": [
              {
                  "verb": "read"
              },
              {
                  "verb": "update"
              }
          ]
      }
    compliance.json: |
      {
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    config-manager.json: |
      {
          "state": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "state-changes": [
              {
                  "verb": "read"
              }
          ]
      }
    cost-management.json: |
      {
          "aws.account": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "aws.organizational_unit": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "azure.subscription_guid": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "gcp.account": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "gcp.project": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "ibm.account": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "openshift.cluster": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "openshift.node": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "openshift.project": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "cost_model": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    drift.json: |
      {
        "*": [
          {
            "verb": "*"
          }
        ],
        "comparisons": [
          {
            "verb": "read"
          }
        ],
        "baselines": [
          {
            "verb": "read"
          },
          {
            "verb": "write"
          }
        ],
        "historical-system-profiles": [
          {
            "verb": "read"
          }
        ],
        "notifications": [
          {
            "verb": "read"
          },
          {
            "verb": "write"
          }
        ]
      }
    integrations.json: |
      {
          "endpoints": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    inventory.json: |
      {
          "*": [
              {
                  "verb": "read"
              },
              {
                  "verb": "*"
              }
          ],
          "hosts": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ]
      }
    migration-analytics.json: |
      {
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    notifications.json: |
      {
          "notifications": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "events" : [
              {
                  "verb": "read"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    ocp-advisor.json: |
      {
        "*": [
          {
            "verb": "*"
          }
        ],
        "toggle-recommendations": [
          {
            "verb": "write"
          }
        ],
        "recommendation-results": [
          {
            "verb": "read"
          }
        ],
        "exports": [
          {
            "verb": "read"
          }
        ]
      }
    patch.json: |
      {
          "*": [
              {
                  "verb": "*"
              }
          ],
          "system": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ]
      }
    playbook-dispatcher.json: |
      {
          "run": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ]
      }
    policies.json: |
      {
          "policies": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    remediations.json: |
      {
          "remediation": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "execute"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    ros.json: |
      {
          "*": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ]
      }
    sources.json: |
      {
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    subscriptions.json: |
      {
          "reports": [
              {
                  "verb": "read"
              }
          ],
          "manifests": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "organization": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    vulnerability.json: |
      {
          "*": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ],
          "vulnerability_results": [
              {
                  "verb": "read"
              }
          ],
          "cve.business_risk_and_status": [
              {
                  "verb": "write"
              }
          ],
          "system.cve.status": [
              {
                  "verb": "write"
              }
          ],
          "advanced_report": [
              {
                  "verb": "read"
              }
          ],
          "report_and_export": [
              {
                  "verb": "read"
              }
          ],
          "system.opt_out": [
              {
                  "verb": "write"
              },
              {
                  "verb": "read"
              }
          ]
      }
  kind: ConfigMap
  metadata:
    creationTimestamp: null
    name: model-access-permissions
    annotations:
      qontract.recycle: "true"
