kind: Template
apiVersion: v1
objects:
- apiVersion: v1
  data:
    advisor.json: |
      {
          "*": [
              {
                  "verb": "read"
              },
              {
                  "verb": "*"
              }
          ],
          "disable-recommendations": [
              {
                  "verb": "write"
              }
          ],
          "weekly-email": [
              {
                  "verb": "read"
              }
          ],
          "recommendation-results": [
              {
                  "verb": "read"
              }
          ],
          "exports": [
              {
                  "verb": "read"
              }
          ]
      }
    ansible-wisdom-admin-dashboard.json: |
      {
          "chart-recommendations": [
              {
                  "verb": "read",
                  "description": "View the Recommendations Chart."
              }
          ],
          "chart-user-sentiment": [
              {
                  "verb": "read",
                  "description": "View the User Sentiment Chart."
              }
          ],
          "chart-module-usage": [
              {
                  "verb": "read",
                  "description": "View the Module Usage Chart."
              }
          ],
          "chart-active-users": [
              {
                  "verb": "read",
                  "description": "View the Active Users Chart."
              }
          ]
      }
    automation-analytics.json: |
      {
          "*": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ]
      }
    compliance.json: |
      {
          "*": [
              {
                  "verb": "*"
              }
          ],
          "system": [
            {
              "verb": "read"
            }
          ],
          "report": [
            {
              "verb": "read"
            },
            {
              "verb": "delete"
            }
          ],
          "policy": [
            {
              "verb": "read"
            },
            {
              "verb": "create"
            },
            {
              "verb": "delete"
            },
            {
              "verb": "write"
            }
          ]
      }
    config-manager.json: |
      {
          "activation_keys": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ],
          "profile": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ]
      }
    content-sources.json: |
      {
          "repositories": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "upload"
              }
          ],
          "templates": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    cost-management.json: |
      {
          "aws.account": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "aws.organizational_unit": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "azure.subscription_guid": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "gcp.account": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "gcp.project": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "openshift.cluster": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "openshift.node": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "openshift.project": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "cost_model": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "settings": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    hybrid-committed-spend.json: |
      {
          "reports": [
              {
                  "verb": "read"
              }
          ]
      }
    idmsvc.json: |
      {
          "token": [
              {
                  "verb": "create"
              }
          ],
          "domains": [
              {
                  "verb": "list"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "create"
              },
              {
                  "verb": "update"
              },
              {
                  "verb": "delete"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    integrations.json: |
      {
          "endpoints": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    inventory.json: |
      {
          "*": [
              {
                  "verb": "read"
              },
              {
                  "verb": "*"
              }
          ],
          "hosts": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ],
          "groups": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ]
      }
    malware-detection.json: |
      {
          "*": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ],
          "acknowledgements": [
              {
                  "verb": "write"
              }
          ]
      }
    notifications.json: |
      {
          "notifications": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "events" : [
              {
                  "verb": "read"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    ocp-advisor.json: |
      {
        "*": [
          {
            "verb": "*"
          }
        ],
        "toggle-recommendations": [
          {
            "verb": "write"
          }
        ],
        "recommendation-results": [
          {
            "verb": "read"
          }
        ],
        "exports": [
          {
            "verb": "read"
          }
        ]
      }
    patch.json: |
      {
          "*": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "system": [
              {
                  "verb": "write"
              }
          ],
          "template": [
              {
                  "verb": "write"
              }
          ]
      }
    playbook-dispatcher.json: |
      {
          "*": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "remediations_run": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "tasks_run": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "config_manager_run": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "run": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ]
      }
    policies.json: |
      {
          "policies": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    rbac.json: |
      {
          "principal": [
              {
                  "verb": "read"
              }
          ],
          "workspaces": [
              {
                  "verb": "role_binding_view"
              },
              {
                  "verb": "role_binding_grant"
              },
              {
                  "verb": "role_binding_revoke"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    remediations.json: |
      {
          "remediation": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "execute"
              }
          ],
          "*": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ]
      }
    ros.json: |
      {
          "*": [
              {
                  "verb": "*"
              },
              {
                  "verb": "read"
              }
          ]
      }
    sources.json: |
      {
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    staleness.json: |
      {
          "staleness": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ]
      }
    subscriptions.json: |
      {
          "reports": [
              {
                  "verb": "read"
              }
          ],
          "manifests": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "organization": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "products": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "cloud_access": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              }
          ],
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    tasks.json: |
      {
          "*": [
              {
                  "verb": "*"
              }
          ]
      }
    vulnerability.json: |
      {
          "*": [
              {
                  "verb": "read"
              },
              {
                  "verb": "write"
              },
              {
                  "verb": "*"
              }
          ],
          "vulnerability_results": [
              {
                  "verb": "read"
              }
          ],
          "cve.business_risk_and_status": [
              {
                  "verb": "write"
              }
          ],
          "system.cve.status": [
              {
                  "verb": "write"
              }
          ],
          "advanced_report": [
              {
                  "verb": "read"
              }
          ],
          "report_and_export": [
              {
                  "verb": "read"
              }
          ],
          "system.opt_out": [
              {
                  "verb": "write"
              },
              {
                  "verb": "read"
              }
          ],
          "toggle_cves_without_errata": [
              {
                  "verb": "write"
              }
          ]
      }
  kind: ConfigMap
  metadata:
    name: model-access-permissions
    annotations:
      qontract.recycle: "true"
