on:
  pull_request:
    branches:
      - master
name: PR Workflow
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.7
      - name: Validate Permissions Against Schema
        uses: walbo/validate-json@v1.1.0
        with:
          files: ./configs/*/permissions/*.json
          schema: ./schemas/permissions.schema
          print-valid-files: true
      - name: Validate Roles Against Schema
        uses: walbo/validate-json@v1.1.0
        with:
          files: ./configs/*/roles/*.json
          schema: ./schemas/roles.schema
          print-valid-files: true
      - name: Validate Permissions' Dependencies
        uses: RedHatInsights/rbac-config-actions/validate-permission-dependencies@main
        with:
          permissions_path_pattern: 'configs/**/*/permissions/*.json'

      # Ensure that a proper valid schema is generated

      # generate ksil json file
      - name: Run Generate V1-Only Permissions Data for stage
        uses: RedHatInsights/rbac-config-actions/generate-v1-only-permissions@main
        with:
          ksl: configs/stage/schemas
          rbac_permissions: configs/stage/permissions
      - name: Run Generate V1-Only Permissions Data for prod
        uses: RedHatInsights/rbac-config-actions/generate-v1-only-permissions@main
        with:
          ksl: configs/prod/schemas
          rbac_permissions: configs/prod/permissions

      - name: Generate & validate schema
        uses: RedHatInsights/rbac-config-actions/validate-schema@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      # validate generated schemas
      - name: Validate Stage Schema
        uses: "authzed/action-spicedb-validate@v1"
        with:
          validationfile: "configs/stage/schemas/schema.zed"
      - name: Validate Prod Schema
        uses: "authzed/action-spicedb-validate@v1"
        with:
          validationfile: "configs/prod/schemas/schema.zed"
